---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Calendar from "../components/Calendar.astro";
---

<Layout title="Componente.">
  <main
    class="w-full h-full bg-[#b1a29d] flex flex-col justify-center items-center gap-y-20 pt-6"
  >
    <Card />
    <Calendar class="border border-yellow-200 rounded-lg" />
  </main>
</Layout>
