---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Calendar from "../components/Calendar.astro";
---

<Layout title="Componente.">
  <main class="w-full h-full bg-[#b1a29d] flex flex-col justify-center items-center gap-y-20">
    <Card />
    <Calendar />
  </main>
</Layout>
