<section
  class="w-[426px] min-h-[600px] bg-[#e4dfdc] rounded-[30px] border-[4px] border-white px-[40px] py-[24px] cursor-grab relative"
>
  <div class="mb-6">
    <img src="/logo.png" alt="logo" />
  </div>
  <h1 class="text-5xl mb-6 font-extrabold">Nike Air Max Pre-Day</h1>
  <p class="max-w-[300px] text-[#000000] mb-6">
    Taking the classic look of heritage Nike Running into a new realm, the Nike
    Air Max Pre-Day brings you a fast-paced look that's ready for today's
    world.
  </p>
  <div class="flex items-center gap-x-[20px] mb-12">
    <button
      class="bg-[#2d2b2c] text-white text-base font-medium py-[16px] px-[40px] rounded-lg"
      >Comprar</button
    >
    <div class="text-[24px] font-bold text-[#000000]">$300.00</div>
  </div>
  <div class="absolute top-12 -right-64 w-[520px]">
    <img src="/image1.png" alt="" draggable="false" />
  </div>
</section>
